* {
  margin: 0;
  padding: 0;
}

img {
  margin-top: 10px;
  vertical-align: top;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#container {
  padding: 10px 0 10px 30px;
  width: auto;
  height: auto;
}

figure {
  margin: 10px 5px 0 0;
  text-align: center;
  display: inline-block;
  user-select: none;
}

button {
  margin: 5px;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.12s ease-out;
}

button:active {
  transform: scale(0.85);
}
