* {
  margin: 0;
  padding: 0;
}

ul {
  margin: 50px auto;
  width: max-content;
  height: 60vh;
  list-style-type: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

ul > li {
  width: 350px;
  height: 20vh;
  text-align: center;
}
